<div class="row">
  <div class="col-12">
    <h2 class= "h2_contact">Contact</h2>
  </div>
    <div class= "form">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6 text-warning">
            <label for="inputEmail4">Nombre</label>
            <input id="input_name" type="email" class="form-control" id="inputEmail4" placeholder="">
          </div>
          <div class="form-group col-md-6 text-warning">
            <label for="inputEmail4">Apellido</label>
            <input id="input_apellido" type="email" class="form-control" id="inputEmail4" placeholder="">
          </div>
        </div>
        <div class="form-group text-warning">
          <label for="inputAddress">Mail</label>
          <input id="input_mail"type="text" class="form-control" id="inputAddress" placeholder="">
        </div>
        <button type="submit" class="btn btn-primary btn-warning">Sign in</button>
    </form>
  </div>
</div>
