<div class="container">
  <table class="tabla table table-dark tabla justify-content-center text-primary rounded-lg table-borderless ">
    <thead>
      <tr>
        <th class="text-white"scope="col">#</th>
        <th class="text-white"scope="col">Nombre</th>
        <th class="text-white"scope="col">Genero</th>
        <th class="text-white"scope="col">Altura</th>
        <th class="text-white"scope="col">Peso</th>
        <th class="text-white"scope="col">Color De Ojos</th>
     </tr>
    </thead>
       <tbody class="tBody">

      </tbody>
 </table>
</div>
<div class="class-boton btn-more">

   <button type="button" id="btn-more" class="btn btn-warning">Mas</button>
</div>
