<div class="container">
  <table class="tabla table table-dark tabla justify-content-center text-primary rounded-lg table-borderless">
    <thead>
      <tr>
        <th class="text-white"scope="col">Nombre</th>
        <th class="text-white"scope="col">Genero</th>
        <th class="text-white"scope="col">Altura</th>
        <th class="text-white"scope="col">Peso</th>
        <th class="text-white"scope="col">Color De Ojos</th>
     </tr>
    </thead>
       <tbody>

      </tbody>
      <div class="class-boton">

         <button type="button" class="btn btn-warning">Mas</button>
      </div>
 </table>
</div>
